<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>hello</title>
		<link rel="stylesheet" type="text/css" th:href="@{/app.css}"/>
	</head>
	<body>
		<h1 style="text-align: center;">课程表数据管理</h1>
		<div class="container">
			<section layout:fragment="content">
				<p>Page content goes here</p>
			</section>
		</div>
	</body>
</html>
